body {
    text-align: center;
    background-color: #ffffff;
}

.main {
    width: 300px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
    display: inline-block;
}

.active {
    font-weight: 700;
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
}

.normal-title {
    margin-bottom: 60px;
    font-size: 18px;
}

a {
    padding: 10px;
    color: #969696;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}